<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/logo.svg"><!-- TODO -->
    <link rel="stylesheet" href="/index.css">
    <title>{{{ title }}}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">pkmn.ai</a></h1>
      {{{ header }}}
    </header>
    <div id="content">
      {{{ content }}}
    </div>
    <footer>
      <a href="{{ edit }}">
        <img src= "/github.svg" alt="GitHub" /> pkmn/ai
      </a>
    </footer>
  </body>
</html>