# ln -s /home/pkmn/ai/config/archive.service /etc/systemd/system/pkmn.ai.archive.service

[Unit]
Description=Archive and cleanup old battle logs and tables

[Service]
Type=oneshot
ExecStart=/usr/bin/npm run tools:archive
WorkingDirectory=/home/pkmn/ai
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.archive
User=pkmn
Group=pkmn

[Install]
WantedBy=multi-user.target