[Unit]
Description=Archive and cleanup old battle logs and tables
Requires=TODO
After=TODO

[Service]
Type=oneshot
ExecStart=TODO
Environment=TODOKEY=TODOvalue
WorkingDirectory=TODO
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.archive
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target