# ln -s pkmn/ai/config/archive.timer /etc/systemd/system/pkmn.ai.archive.timer

[Unit]
Description=Daily archive and cleanup old battle logs and tables

[Timer]
OnCalendar=*-*-* 00:15:00

[Install]
WantedBy=timers.target