[Unit]
Description=Archives, uploads, and cleans up old battle logs
Requires=TODO
After=TODO

[Service]
Type=oneshot
ExecStart=TODO
Environment=TODOKEY=TODOvalue
WorkingDirectory=TODO
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.backup
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target