[Unit]
Description=pkmn.ai monitor service
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=TODO
WorkingDirectory=TODO
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.monitor
User=TODO
Group=TODO

[Install]
WantedBy=multi-user.target