# ln -s pkmn/ai/config/monitor.service /lib/systemd/user/pkmn.ai.monitor.service

[Unit]
Description=pkmn.ai monitor service
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=npm run monitor
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.monitor

[Install]
WantedBy=multi-user.target