# systemctl enable /home/pkmn/ai/config/pkmn.ai-ratings.service

[Unit]
Description=Generates ratings history graphs

[Service]
Type=oneshot
ExecStart=/usr/bin/npm run tools:ratings
WorkingDirectory=/home/pkmn/ai
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.ratings
User=pkmn
Group=pkmn

[Install]
WantedBy=multi-user.target