# systemctl enable /home/pkmn/ai/config/pkmn.ai-backup.service

[Unit]
Description=Archives, uploads, and cleans up old battle logs

[Service]
Type=oneshot
ExecStart=/usr/bin/npm run tools:backup
WorkingDirectory=/home/pkmn/ai
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.backup
User=pkmn
Group=pkmn

[Install]
WantedBy=multi-user.target