# systemctl enable /home/pkmn/ai/config/pkmn.ai-timer.service

[Unit]
Description=Daily generation of ratings history graphs

[Timer]
OnCalendar=*-*-* 00:30:00

[Install]
WantedBy=timers.target