# ln -s /home/pkmn/ai/config/ratings.service /etc/systemd/system/pkmn.ai.ratings.service

[Unit]
Description=Generates ratings history graphs
Requires=TODO
After=TODO

[Service]
Type=oneshot
ExecStart=/usr/bin/npm run tools:ratings
WorkingDirectory=/home/pkmn/ai
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pkmn.ai.ratings
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target