#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  font-weight: normal;
  font-style: italic;
  line-height: 2;
  background-color: black;
}

nav > ul, .column > ul {
  padding: 0;
  list-style: none;
}
nav { text-align: center; }
nav li { display: inline-block; }
nav label { cursor: pointer; }
nav input:checked + label { font-weight: bold; }
nav input {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

dfn {
  font-weight: bold;
  font-style: normal;
}

.column { flex: 1; }
.columns {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 1.25em auto;
  text-align: center;
}
