body {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  margin: 0;

  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topbar {
  font-weight: normal;
  font-style: italic;
  line-height: 2em;
  color: white;

  background-color: black;
}

h1 {
  font-size: calc(var(--header-size) * 3);
}

h2 {
  margin-top: 0;
  font-size: calc(var(--header-size) * 1.5);
  text-transform: uppercase;
}

h3 {
  font-size: calc(var(--header-size) * 1.25);
}

table, p, .topbar {
  font-size: var(--body-size);
}

nav, footer {
  font-size: calc(var(--body-size) * 1.1);
}

h1, h2 {
  margin-bottom: 0.33em;
}

header, header h1 {
  font-weight: 900;
  text-align: center;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.5em 8px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  min-width: 100%;
  margin: 0 auto;

  line-height: 1.15em;
  text-align: left;
}

td, th {
  padding: 0.33em;
}

td {
  border-top: 1px solid #CDCDCD;
}

tr:first-child {
  border-top: 1px solid black;
}

td:first-child {
  width: 15%;
}

tr:first-child td {
  border: none;
}

a {
  color: unset;
  text-decoration: none;
}

footer a {
  display: inline-flex;
  gap: 5px;
  padding: 1em 0;
  vertical-align: top;
}

a:visited {
  color: unset;
  text-decoration: none;
}

a:hover, a:focus, a:active  {
  color: unset;
  text-decoration: underline;
}

h1 a:hover, h1 a:focus, h1 a:active  {
  text-decoration: none;
}

a.default,
a.default:hover,
a.default:visited,
a.default:focus,
a.default:active {
  color: revert;
}

.description {
  margin: 2em 0;
}

p {
  line-height: 1.4em;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav input {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

nav label {
  cursor: pointer;
}

nav input:checked + label {
  font-weight: bold;
}

footer {
  margin-top: auto;
  line-height: var(--svg);
  text-align: center;
}

footer img {
  width: var(--svg);
  height: var(--svg);
}

#concepts li {
  margin-bottom: 0.5em;
}

#research main {
  max-width: min(900px, 90%);
}

#research dl {
  display: flex;
  flex-wrap: wrap;
}

.hide {
  display: none;
}

/* Mobile - Small */
:root {
  --max-width: 100%;
  --body-size: 10px;
  --header-size: 12px;
  --svg: var(--header-size);
}

#research dt {
  display: none;
}

#research dd {
  width: 100%;
  margin-bottom: 1em;
  margin-left: auto;
}

#research header, #glossary header {
  margin-bottom: 1em;
}

#glossary dt {
  font-weight: bold;
}

#glossary dd {
  margin: 0;
}

/* Mobile - Medium */
@media(width >= 375px) {
  :root {
    --max-width: 400px;
    --body-size: 12px;
    --header-size: 16px;
  }
}

/* Mobile - Large */
@media(width >= 425px) {
  :root {
    --max-width: 500px;
    --body-size: 13px;
    --header-size: 18px;
  }
}

/* Tablet */
@media(width >= 768px) {
  :root {
    --max-width: 600px;
    --body-size: 15px;
    --header-size: 20px;
  }
}

/* Laptop */
@media(width >= 1024px) {
  :root {
    --max-width: 700px;
    --body-size: 16px;
    --header-size: 22px;
    --svg: 24px;
  }

  #research dt {
    display: block;
    width: 20%;
  }

  #research dd {
    width: 80%;
  }
}