<!doctype html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <meta name="description" content="The home of competitive Pokémon artificial intelligence">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LQ8TW28Z7Q"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LQ8TW28Z7Q');
  </script>

  <title>{{ title }}</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1><a href="/">pkmn.ai</a></h1>
    {{{ header }}}
  </header>
  <div id="content">
    {{{ content }}}
  </div>
  <footer>
    <a href="{{{ edit }}}">
      <img src="/github.svg" alt="GitHub" /> pkmn/ai
    </a>
  </footer>
</body>
{{{ script }}}
</html>